*{  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}   
body{
    background-color: #ffffff;
    font-family: "Inter", sans-serif!important;;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #333333;
}
div,p,label,span{
    font-family: "Inter", sans-serif!important;
}
.page-top{
    margin-top: 90px !important;
}

.logo {  
    width: 200px;
    cursor: pointer;
}
.fs-18{
    font-size: 18px!important;
}
.fs-20{
    font-size: 20px!important;
}
.fs-18,
.fs-20{
    font-family: "Inter", sans-serif!important;
}
li, button{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: bisque;
    text-decoration: none;
    
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem!important;
}
header{
    position: fixed;
    width: 100%;
    background-color: #ffffff ;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    padding: 0 2%;
    height: 90px;
    z-index: 9999;
    top: 0;
} 
.w-15{
    width: 15%;
    padding-left: 40px;
}
.w-25{
    width: 25%;
}
.w-60{
    width: 80%;
}
.navlinks li{
    display: inline-block;
    margin: 20px 30px;
    align-items: center;
} 
.navlinks li a{
    text-decoration: none;
    color: #202223BF!important;
    font-weight: 400;
    font-family: 'Inter';
}
a{
    text-decoration: none;
    color: #202223BF!important;
}
.items_margin-left{
    margin-left: 0!important;
}
button{
    width: 100%;
    padding: 12px;
    background-color: firebrick;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: all 0.5s, ease 0s;
    border: none;
    z-index: 999;
} 
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 5px #ddd;
    display: none;
    justify-content: flex-start;
    list-style: none;
    flex-direction: column;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}
.sidebar li{
    width: 100%;
    margin: 25px;  
}
.sidebar img{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 120px;
}
nav ion-icon{
    font-size: 2em;
    position: absolute;
    top: 35px;
    right: 20px;
}
.lets_talk{
    border-radius: 4px;
    background: #3D23A7;
    color: white;
    border: none;
    width: 200px !important;
}
.lets_talk:hover{
    border-radius: 4px;
    background: #ffffff;
    color: #3D23A7;
    border: 1px solid #3D23A7;
} 
.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: hsla(178, 100%, 7%, 0);
    box-shadow: none!important;
}
.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}
}


h2{ 
    color: wheat;
    text-shadow: #002423 -2px 2px 10px;
    font-size: 2em;
    margin: 20%;
    text-align: center;
}
@media only screen and (min-width: 830px){
    .navlinks ion-icon{
        display: none;
        
    }
}
@media only screen and (max-width: 830px){
    .navlinks .items{
        display: none;
    }
}

@media only screen and (max-width: 1023px){
    .lets_talk{
        visibility: hidden;
    }
}

/* Homepage */
.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.slide.active {
    opacity: 1;
}
.slide:nth-child(1) {
    background: url('../../assets/img/blitztrader.png') no-repeat center center/cover;
}
.slide:nth-child(2) {
    background: url('../../assets/img/image_2.png') no-repeat center center/cover;
}
.slide:nth-child(3) {
    background: url('your-image.jpg') no-repeat center center/cover;
}
.slide h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #202223;
    padding: 0 30%;
    font-weight: 900;
}
.main_title {
    font-size: 36px;
    margin-bottom: 10px;
    color: #202223;
    padding: 0 30%;
    font-weight: 900;
    line-height: 1.2;
}
.slide p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #202223;
    padding: 2% 20%;
    font-weight: 600;
}
.sub_title {
    font-size: 16px;
    margin-bottom: 20px;
    color: #202223;
    padding: 2%;
    font-weight: 400;
    text-align: center;
}
.container-fluid{
    padding: 0 5%;
}
.buttons {
    display: flex;
    gap: 15px;
}
.buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn-primary {
    background: #007bff;
    color: white;
}
.btn-secondary {
    background: #6c757d;
    color: white;
}
.buttons button:hover {
    opacity: 0.8;
}
.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: linear-gradient(45deg, #305EFF, #6978FF);
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    width: 200px;
    justify-content: center;
    margin-right: 15px;
    height: 55px!important;
} 
.btn_2 {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #f5ecec ;
    border: none;
    color: #202223;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    width: 200px;
    justify-content: center;
    margin-right: 15px;
} 
.btn:hover {
    height: 55px!important;
}
.btn svg {
    width: 24px;
    height: 24px;
    stroke: white;
    rotate: 30deg;
}
.card {
    padding: 5% 2%; 
}
.icon_image{
    width: 80px;
}
.card_title {
    color: #202223;
    padding: 5% 0;
    font-size: 20px;
    margin: 0;
}
.footer-light > a> .text-white
{
    margin: 5px;
}.p-se{
    padding: 0 2%;
}
.discover{
    font-size: 16px;
    font-weight: 500;
    color: #305EFF;
} 
.accordion { 
    --bs-accordion-bg: #f5ecec 00!important;
}
.p-20{
    font-size: 20px; 
}
.p-24{
    font-size: 24px;
}
.p-40{
    font-size: 40px;
}
.centered-content { 
    padding: 20px;
    border-radius: 8px; 
}
.big-title {
    font-size: 40px;
    font-weight: 700;
    padding: 0 10%;
    text-align: center;
    margin: 2% 0;
}
.tablet_text{
    font-size: 20px;
    font-weight: 500;
}

.imageCarousel {
    height: auto;
    width: 82%;
    margin: 0px auto;
    position: relative;
    margin-top: -20%;
}

    .accordion-faq { 
      margin: 20px auto; 
      border-radius: 8px;
      font-family: "Inter", sans-serif;
    }

    .accordion-faq-item {
      border-bottom: 1px solid #ccc;
    }

    .accordion-faq-item:last-child {
      border-bottom: none;
    }

    input[type="radio"] {
      display: none;
    }

    .accordion-faq-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px; 
      cursor: pointer; 
      transition: background 0.3s ease;
      font-size: 20px;
      font-weight: 600;
    } 

    .accordion-faq-label::after {
      content: '▶';
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px; 
      border-radius: 50%;
      background-color: transparent;
      color: #333;
      font-size: 12px;
      margin-left: 10px;
      transition: transform 0.3s ease;
    }

    input[type="radio"]:checked + .accordion-faq-label::after {
      transform: rotate(90deg);
    }

    .accordion-faq-content {
      max-height: 0;
      overflow: hidden;
      padding: 0 20px; 
      transition: max-height 0.3s ease, padding 0.3s ease;
    }

    input[type="radio"]:checked + .accordion-faq-label + .accordion-faq-content {
      max-height: 200px;
      padding: 15px 20px;
    }
  
  .imageCarousel > img {
    width: 100%;
    opacity: 1;
    padding-bottom: 5%;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    border-radius: 22px;
  }
  
  #prev-button, #next-button {
    display: inline-block; 
    width: auto;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    outline: none;
  
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
  
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
  
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
  
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
  
    cursor: pointer;
  
    /* colors */
    color: white; 
  
    /* border */
    border-radius: 50%;
  
    /* CSS Transitions */
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
  
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
  }
  
  #prev-button:hover, #next-button:hover, #prev-button:hover > svg, #next-button:hover > svg{
    color: #202223;
    background: #202223;
    stroke: #f5ecec ;
  }
 #prev-button > svg, #next-button > svg{ 
    stroke: #202223;
  } 
  
  /* Positioning */
  #prev-button {
    position: absolute; 
    left: -80px;
    margin-top: 30%;
    border: 1px solid #202223;
    padding: 15px;
  }
  
  #next-button {
    position: absolute;  
    right: -80px;
    margin-top: 30%; 
    border: 1px solid #202223;
    padding: 15px;
  }
  .icon-text {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    padding: 10px 0;
}
.icon-text svg {
    width: 24px;
    height: 24px; 
}
.text-white{
    color: #f5ecec !important;
}
.w-80{
    width: 80%;
}
.cta-bg{
    background: #F6F3FE;
}
.cta-white-box{
    background: #ffffff;
    padding: 0 20px;
    border-radius: 12px;
    margin-bottom: 10px;
}
.icon_image_2 {
    width: 50px;
}
.card_title_2 {
    color: #202223;
    padding: 2% 0;
    font-size: 20px;
}
.sub_title_2 {
    font-size: 16px;
    margin-bottom: 20px;
    color: #202223;
    padding: 2%;
    font-weight: 400;
    text-align: center;
}
.career-bg{
    width: 31%;
    position: absolute;
    right: 10%;
}
.cta_btn{
    width: 225px;
    background: #171321;
    float: right;
    margin-top: 30%;
    margin-right: 15%;
}
.cta_btn:hover{
    border-radius: 4px;
    background: #ffffff !important;
    color: #171321 !important;
    border: 1px solid #171321 !important;
    height: 40px;
}
.cta_btn:hover >svg > path{
    fill: #171321;
    stroke: #171321;
}
.gradient-text{
    font-size: 46px;
    font-weight: bold;
    background: linear-gradient(45deg, #FEB484 0%, #FEB484 25%, #AE88D7 50%, #765BD9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: inter;
}
.card-box{
    border: 0;
    background: #ffffff73;
}
.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
}
.cta-btn-blue{
    position: absolute;
    bottom: 50px;
    right: 0;
    transform: translateX(0%);
    height: 55px;
}


.progress-bar-line {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    z-index: -1;
    transform: translateY(-50%);
    border-bottom: 7px dashed #4a026940;
}

.progress-step {
    width: 155px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.progress-step img {
    width: 125px; /* Adjust image size */
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
}

.progress-step span {
    margin-top: 10px; 
    color: #202223;
}

.progress-step.active img {
    border: 3px solid #007bff;
}
.f-64{
    font-size: 64px!important;    
    font-weight: 700;
}
.custom-container {
    background: rgb(255,255,255);
    background: linear-gradient(218deg, rgba(255,255,255,1) 79%, rgba(250,219,214,1) 100%);
    border-top-left-radius: 1.5rem; 
    padding: 2rem;
    max-width: 900px;
    border: 1px solid #ddd; 
    height: 50vh;
}
.custom-container_2 {
    background: rgb(255,255,255);
    background: linear-gradient(146deg, rgba(255,255,255,1) 0%, rgba(214,199,250,0.18531162464985995) 100%);
    border-bottom-right-radius: 1.5rem;
    padding: 2rem;
    max-width: 900px;
    border: 1px solid #ddd; 
    height: 50vh;
} 
.text-color-blue{
    color: #3D23A7;
}
.form-control{
    background: #e2ebf23c;
    border-radius: 4px;
    height: 50px;
}
.form-select{
    background-color: #e2ebf23c;
    height: 50px;
}
.form-control:focus, .form-select:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0;
    border: 0;
}
.form-label{
    font-weight: 500;
}
.blog_title{
    color: #202223;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.blog-topmargin{
    margin-top:70%;
}
.hover-animation:hover{
    background: #d6c7fa30;
    border-bottom-right-radius: 100px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.075);
} 
.my-img {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/bg-shape.png');
    background-size: 100% 100%; /* Stretches image to fit div */
    background-position: center;
    background-repeat: no-repeat;
    padding: 5% 0 20% 0 !important;
}
.testimonial_bg{
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/testimonials_bg.png');
    background-size: 100% 100%; /* Stretches image to fit div */
    background-position: center;
    background-repeat: no-repeat; 
}
.owl-nav > button{
    width: 100px;
}
.owl-dots{
    display: none;
}
.r-l-65{
    border-top-left-radius: 65px;
    border-bottom-left-radius: 65px;
}
.r-t-65{
    border-top-right-radius: 65px; 
}
.r-b-65{
    border-bottom-right-radius: 65px; 
}
.footer-light > p{ 
    color: #bbbbbb!important;
    font-weight: 200!important;
}   
.footer-light > p:hover{ 
    color: #ffffff!important;
    font-weight: 300!important;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b6fe00;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(13, 109, 253, 0.165)!important;
    border: 1px solid #E2EBF2;
}
.desk{
    display: block;
}
.mob{
    display: none;
}
/* Responsive Styles */
@media (max-width: 767px) {
    .desk{
        display: none;
    }
    .mob{
        display: block;
    }
    .mob-banner{
        padding: 0 5%!important;
        margin-top: 40%;
    }
    .btn,.btn_2{
        font-size: 13px!important;
    } 
    .custom-scrollbar{
        flex-flow: row;
        overflow: auto;
        padding: 0 25%;
    }
    .page-top{
        margin-top: 0px !important;}
    .slide h1 {
        font-size: 30px;
        margin-bottom: 10px;
        color: #202223;
        padding: 0 10%;
        font-weight: 900;
        line-height: 1.5;
    }
    .carousel {
        position: relative;
        width: 100%;
        height: 100vh!important;
        overflow: hidden;
    }
    .slide {
        margin-top: 77px!important;
    }
    .slide p {
        font-size: 16px;
        margin-bottom: 20px;
        color: #202223;
        padding: 2% 10%;
        font-weight: 600;
    }
    .mob-h-auto{
        height: auto!important;
    }
    .btn {
        display: flex;
        align-items: center;
        gap: 8px;
        background: linear-gradient(45deg, #305EFF, #6978FF);
        border: none;
        color: white;
        padding: 12px 20px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s;
        text-decoration: none;
        width: 100%;
        justify-content: center;
        margin-right: 15px;
    }
    
    
    .main_title {
        font-size: 30px;
        margin-bottom: 10px;
        color: #202223;
        padding: 0 5%;
        font-weight: 900;
        line-height: 1.2;
    }
    .big-title {
        font-size: 20px;
        font-weight: 700;
        padding: 0 10%;
        text-align: center;
        margin: 5% 0;
    }
    .h-55{ 
        height: 55vh!important;
    }
    .h-77{ 
        height: 77vh!important;
    }
    .mob-h-100{
        height: 100vh!important;
    }
    #prev-button {
        position: absolute;
        left: -30px;
        margin-top: 30%;
        border: 1px solid #202223;
        padding: 5px;
    }
    #next-button {
        position: absolute;
        right: -30px;
        margin-top: 30%;
        border: 1px solid #202223;
        padding: 5px;
    }
    .mob-p-15{
        padding: 15px !important;
    }
    .cta-btn-blue {
        position: absolute;
        bottom: -50px;
        right: 0;
        transform: translateX(0%);
    }
    .testimonials-wrap{
        overflow-x: hidden;
    }
    .ps-5,.pe-5,.px-5,.p-5,.pt-5 {
        padding: 0 !important;
    }
    .mob
    .quantxpress_pd {
        padding: 15% 15% 0 15% !important;
    }
    .mob-pt0{
        padding-top:0% !important;
    }
    .mob-p5{
        padding: 5% !important;
    }
    .mob-p10{
        padding: 5% !important;
    }
    .mob-mt-5{
        margin-top: 5%;
    }
    .carousel-testimonial .item {
        padding: 30px 5%!important;
    }
    .testimonial-box {
        padding: 30px!important;
    }
    .career-bg {
        width: 65%;
        position: absolute;
        right: 10%;
    }
    .footer_center{
        justify-content: center!important;
        text-align: center;
    }
    .bit_logo{
        width: 65% !important;
        margin-top: 10%;
    }
    .blog-topmargin {
        margin-top: 5%!important;
        padding: 5%!important;
    }
    .f-32 {
        font-size: 32px !important;
    }
} 

/* Responsive Styles */
@media (min-width: 768px) and (max-width: 1024px) {
    .tab-h-90{
        height: 90vh!important;
    }
    .tab-mt-5{
        margin-top: 5%!important;
    }
    .carousel-testimonial .item {
        padding: 30px 5%!important;
    }
    .career-bg {
        width: 90%;
        position: absolute;
        right: 0%; 
        margin-top: 12%;
    }
    .tab-p-0{
        padding: 0 !important;
    }
    br{
        display: none;
    }
}